extends ./layout

block content

  h2 Current Weather

  table
    thead
      tr
        th City
        th Description
        th Temperature
    tbody
      each city in cities
        tr
          td= city.name
          td= city.description
          td #{city.temperature} &deg;F